header {
    text-align: center;
}

li {
    color: lightskyblue;
    text-decoration: underline;
    cursor: pointer;
}

li:hover {
    color:palevioletred;
}

ol {
    list-style-type: none;
}

/* div {
    display: flex;
    text-align: left;
} */